
	{%extends "nav.html" %}
	{% block content %}
<h1>This is Friend site</h1>
<!DOCTYPE html>
<html>
<head>



<meta charset="utf-8">
	<title>Flask </title>
</head>
<body>



	<h1>Hey, I am {{name}}</h1>
	<h2>There are {{list1}}</h2>
	<h1>Table</h1>
	<table border=".7">
	<thead>
		<th>Number</th>
		<th>Color</th>
		<th>Country</th>
	</thead>
	<tr>
		<td>101</td>
		<td>Red</td>
		<td>India</td>
	</tr>
	<tr>
		<td>102</td>
		<td>Yellow</td>
		<td>UK</td>
	</tr>
	</table>



	<table border="2">
		<thead>
			<th>Country Name</th>
			<th>Flag</th>
			<th>Corona Cases</th>
		</thead>
		<tr>
			<td>USA</td>
			<td><img src="http://i.ebayimg.com/images/i/161770150721-0-1/s-l1000.jpg" width="100" height="100"></td>
			<td>200000</td>
		</tr>
		<tr>
		<td>India</td>
		<td><img src="https://www.wallpaperup.com/uploads/wallpapers/2014/11/06/507704/6ab3925532d3258678195ff04efe9487-700.jpg"width="100" height="100"></td>
		<td>14000</td>
		</tr>
		<tr>
			
	
		<td> China</td>
		<td><img src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/cnlarge.gif"width="100" height="100"></td>
		<td>25000</td>
		</tr>
	</table>

























<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<img src="C:\Users\ARJUN VANKANI\Downloads\wallpaperflare.com_wallpaper (2).jpg" alt="No image ">
	<a href="https://www.youtube.com/watch">You tube</a>
	<ol>
		<li>Python</li>
		<li>Java</li>
		<li>C/C++</li>
		<li>C#</li>
	</ol>
	<ul>
		<li>Python</li>
		<li>Java</li>
		<li>C/C++</li>
		<li>C#</li>
	</ul>

	<ol>
		<li>Python</li>
		<ul>
			<li>Simple</li>
			<li>Open source</li>
			<li>Avalible</li>
		</ul>
		<li>Java</li>
		<ul>
			<li>Simple</li>
			<li>Open source</li>
			<li>Avalible</li>
		</ul>
	</ol>


<div class="">
	<h1>Head1</h1>
	<p>Example</p>
</div>
<p>This is 1st ,<span class="">This is 2nd</span></p>


</body>
</html>
	{% endblock %}